body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.calculator {
    width: 350px;
    background-color: #555;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

#display {
    width: 100%;
    height: 60px;
    background-color: #777;
    border: none;
    margin-bottom: 20px;
    color: white;
    text-align: right;
    padding: 0 15px;
    font-size: 32px;
    box-sizing: border-box;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ddd;
    transition: 0.2s;
}

button:hover {
    background-color: #bbb;
}

.operator {
    background-color: #aaa;
}

.btn-clear {
    background-color: #ff9f43;
    color: white;
}

.btn-equal {
    background-color: #00d2d3;
    color: white;
    grid-column: span 1;
}

.btn-empty {
    background-color: transparent;
    cursor: default;
}